html
  head
    title Memo App MongoDB
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
    style
      include style.css
  body.bg-light
    .container.cont-table
      h3 Memo App MongoDB
      table.table.table-hover.table-dark
        tr
          th.col-md-1 author
          th.col memo
        each memo in memos
          tr
            td= memo.author
            td= memo.memo
      h3 Add New Entry
        form(method='POST', action='/add')
          #form-group
            h6 Author:
            input.form-control(name='author', type='text')
          #form-group
            h6 Memo:
            input.form-control(name='memo', type='text')
          br
          input.btn.btn-dark(type='submit',value='Submit')
